<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta
            name="author"
            content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
        />
        <meta name="generator" content="Hugo 0.84.0" />
        <title>Blog</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
     

        <link href="carousel.css" rel="stylesheet" />
        <style>
            a {
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <header class="p-3 bg-dark text-white fixed-top">
            <div class="container">
                <div
                    class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
                >
                    <ul
                        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
                    >
                        <li>
                            <a
                                href="/auth/home"
                                class="nav-link px-2 text-white"
                                >Event</a
                            >
                        </li>
                        <li>
                            <a href="/blog" class="nav-link px-2 text-white"
                                >Blog</a
                            >
                        </li>
                        <% if (isAdmin) { %>
                            <li>
                                <a href="/admin" class="nav-link px-2 text-white"
                                    >Admin Manage</a
                                >
                            </li>
                            <% } %>
                     
                    </ul>

                    <div class="text-end">
                        <button
                            type="button"
                            class="btn btn-outline-light me-2"
                        >
                            <a href="/auth/login">Login</a>
                        </button>
                        <button type="button" class="btn btn-warning">
                            <a href="/auth/register" style="color: white;">Sign-up</a>
                        </button>
                    </div>
                </div>
            </div>
        </header>

        <main class="mb-5">
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">About our system</h1>
                        <p class="lead text-muted">
                            "Everyone likes birds. What wild creature is more
                            accessible to our eyes and ears, as close to us and
                            everyone in the world, as universal as a bird?"
                        </p>
                        <!-- <p>
                            <a href="./view-blog" class="btn btn-primary my-2"
                                >Read More</a
                            >
                        </p> -->
                    </div>
                </div>
            </section>
            <div class="container">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <% for(var i=0; i < blogs.length; i++) { %>
                    <div class="col-3">
                        <div class="card h-100">
                            <img
                                class="object-fit-cover border rounded"
                                height="200"
                                width="auto"
                                src="<%= blogs[i].image %>"
                                class="card-img-top"
                                alt="..."
                                onerror="this.src='https://boodabike.com/wp-content/uploads/2023/03/no-image.jpg'"
                            />
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= blogs[i].title %>
                                </h5>
                                <p class="card-text text-truncate">
                                    <%- blogs[i].body %>
                                </p>
                                <div class="d-flex justify-content-between">
                                    <a
                                        href="/blog/<%= blogs[i]._id %>"
                                        class="btn btn-primary card-text"
                                        >Details</a
                                    >
                                    <% if (isAdmin) { %>
                                    <a
                                        href="/admin/blog/edit/<%= blogs[i]._id %>"
                                        class="btn btn-primary card-text"
                                        >Edit</a
                                    >
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %> <% if (isAdmin) { %>
                    <div class="col-3">
                        <a href="/admin/blog/create">
                            <div class="card h-100">
                                <div
                                    class="card-body d-flex justify-content-center d-flex align-items-center"
                                    style="font-size: 2rem"
                                >
                                    <i class="bi bi-plus-square-fill"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% } %>
                </div>
            </div>
        </main>

        <%- include('footer'); %>

        <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
