<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Event</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <style>
            a {
                text-decoration: none;
            }
        </style>
    </head>

    <body>
        <header class="p-3 bg-dark text-white fixed-top">
            <div class="container">
                <div
                    class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
                >
                    <ul
                        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
                    >
                        <li>
                            <a href="/" class="nav-link px-2 text-white"
                                >Home</a
                            >
                        </li>
                        <li>
                            <a
                                href="/auth/home"
                                class="nav-link px-2 text-white"
                                >Event</a
                            >
                        </li>
                        <%if(user.role ==="ADMIN" || user.role === "MEMBER"){%>
                        <li>
                            <a href="/blog" class="nav-link px-2 text-white"
                                >Blog</a
                            >
                        </li>
                        <%}%>
                        <li>
                            <a href="/user" class="nav-link px-2 text-white"
                                >Profile</a
                            >
                        </li>
                        <%if(user.role === "STAFF"){%>
                        <li>
                            <a href="/staff" class="nav-link px-2 text-white"
                                >Staff Manage</a
                            >
                        </li>
                        <%}else if(user.role === "ADMIN"){%>
                        <li>
                            <a href="/admin" class="nav-link px-2 text-white"
                                >Admin Manage</a
                            >
                        </li>
                        <li>
                            <a
                                href="/admin/dashboard"
                                class="nav-link px-2 text-white"
                                >Dashboard</a
                            >
                        </li>
                        <%}%>
                    </ul>

                    <div class="text-end">
                        <button
                            type="button"
                            class="btn btn-outline-light me-2"
                            id="logout-btn"
                        >
                            <a href="/auth/logout">Logout</a>
                        </button>
                    </div>
                </div>
            </div>
        </header>

        <main class="mb-5">
            <div class="container marketing" style="margin-top: 5rem">
                <h1 class="h3 mb-3 fw-normal" style="margin-top: 2rem">
                    Welcome back <%= fullName %>!
                </h1>
                <p>Create your event</p>
                <form
                    class="row g-3"
                    method="post"
                    action="/event/create-new-event"
                >
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label"
                            >Your Name</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="username"
                            value="<%= fullName %>"
                            readonly
                            name="playerOne"
                        />
                    </div>
                    <div class="col-md-4">
                        <label for="inputState" class="form-label"
                            >Choose player 2</label
                        >
                        <select
                            id="inputState"
                            class="form-select"
                            name="playerTwo"
                        >
                            <% for(let i=0; i < playerTwo.length; i++) { %>
                            <option value="<%=playerTwo[i]._id%>">
                                <%=playerTwo[i].fullName%>
                            </option>
                            <% } %>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="inputCity" class="form-label"
                            >Choose your date</label
                        >
                        <input
                            type="datetime-local"
                            class="form-control"
                            id="date"
                            name="date"
                            required
                            min="2023-07-20T00:00"
                        />
                    </div>
                    <div class="col-md-4">
                        <label for="inputPassword4" class="form-label"
                            >Match Name</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="titlematch"
                            name="titleMatch"
                            required
                        />
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">
                            Create
                        </button>
                    </div>
                </form>
            </div>
        </main>

        <main class="container mt-5 mb-5">
            <div class="row">
                <div class="col-6">
                    <h1>Match History</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">You vs.</th>
                                <th scope="col">Player</th>
                                <th scope="col">At</th>
                                <th scope="col">Title</th>
                            </tr>
                        </thead>
                        <%if (typeof eventHistory !="undefined" &&
                        eventHistory.length> 0) { %>
                        <tbody>
                            <% for (let i=0; i < eventHistory.length; i++) { %>
                            <% const playerOne=eventHistory[i].playerOne &&
                            eventHistory[i].playerOne.fullName; const
                            playerTwo=eventHistory[i].playerTwo &&
                            eventHistory[i].playerTwo.fullName;
                            console.log(playerOne) %>
                            <tr>
                                <th scope="row"><%=i + 1%></th>
                                <td><%=playerOne%></td>
                                <td><%=playerTwo%></td>
                                <td>
                                    <%=eventHistory[i].date.toString().replace(
                                    /\sGMT\+\d+\s\(.+\)$/, "" )%>
                                </td>
                                <td><%=eventHistory[i].titleMatch%></td>
                            </tr>
                            <% } %>
                        </tbody>
                        <% }else{ %>
                        <tbody>
                            <tr>
                                You do not have any match
                            </tr>
                        </tbody>
                        <%} %>
                    </table>
                </div>
            </div>
        </main>

        <%- include("footer"); %>
    </body>
</html>
