<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Template</title>
        <!-- Bootstrap core CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
            crossorigin="anonymous"
        />
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
            .sidebar__item:hover {
                background-color: #c0e862;
            }
            .sidebar__item-isActive {
                background-color: #c0e862;
            }
        </style>
    </head>

    <body>
        <nav
            class="navbar navbar-expand-lg navbar-dark bg-dark fixed- mb-5"
            aria-label="Tenth navbar example"
        >
            <div class="container-fluid">
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample08"
                    aria-controls="navbarsExample08"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div
                    class="collapse navbar-collapse justify-content-md-center"
                    id="navbarsExample08"
                >
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="/user"
                                >Users</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Staff</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Content -->
        <main class="container mt-5">
            <div class="p-3 rounded">
                <div class="d-flex flex-row">
                    <div
                        class="container-fluid d-flex flex-column px-5 text-dark"
                    >
                        <h3 class="mb-5">All Users</h3>
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Full name</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% var i = 0; userList.forEach(user => {
                                    i++;%>
                                    <tr>
                                        <td><%= i %></td>
                                        <td><%= user.fullName %></td>
                                        <td><%= user.role%></td>
                                        <td class="d-flex flex-row">
                                            <button
                                                type="button"
                                                class="btn btn-success"
                                            >
                                                <a
                                                    href="/user/edituser/<%= user._id %>"
                                                    style="
                                                        color: white;
                                                        text-decoration: none;
                                                    "
                                                    >Update</a
                                                >
                                            </button>
                                            <form
                                                method="get"
                                                action="/user/delete/<%= user._id %>"
                                            >
                                                <button
                                                    type="submit"
                                                    class="btn btn-danger"
                                                    onclick="return confirm('Are you sure you want to delete this orchid?')"
                                                >
                                                    Delete
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% })%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
