<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css"
    />
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <title>Create blog</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <img
          src="https://png.pngtree.com/template/20191014/ourmid/pngtree-bird-fly-logo-vector-silhouette-image_318771.jpg"
          alt="Logo"
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/blog">Blog</a>
            <a class="nav-link" href="/user">User</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <h2>Update blog <%= blog.title %></h2>
      <form method="post" action="/blog/update/<%= blog._id %>">
        <div class="row">
          <div class="col-12 mb-2">
            <label class="form-label">Name</label>
            <input
              class="form-control"
              name="title"
              required
              value="<%= blog.title %>"
            />
          </div>
          <div class="col-12 mb-2">
            <label class="form-label">Image URL</label>
            <input
              class="form-control"
              name="image"
              required
              value="<%= blog.image %>"
            />
          </div>
          <div class="form-group col-12 mb-2">
            <label class="form-label">Description</label>
            <textarea
              hidden
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
              required
              name="body"
            ></textarea>
          </div>
          <div class="d-flex">
            <div>
              <button class="btn btn-primary" type="submit">Update</button>
            </div>
            <div>
              <button
                class="btn btn-danger ms-2"
                onclick="remove('<%= blog._id %>')"
                type="button"
              >
                Remove
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
  <script>
    var simplemde = new SimpleMDE({
      element: document.querySelector("textarea"),
      spellChecker: false,
    });
    simplemde.value(`<%= blog.body %>`);
    document.querySelector("textarea").value = simplemde.value();
    simplemde.codemirror.on("change", function () {
      document.querySelector("textarea").value = simplemde.value();
    });
    const remove = (id) => {
      const s = confirm("Are you sure to remove this blog?");
      if (s === true) window.location.href = `/blog/remove/${id}`;
    };
  </script>
</html>
